@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo!</h1>
    <a class="btn btn-primary" asp-controller="Pacientes" asp-action="Create">Cadastrar Paciente</a>
</div>
<br />
<div class="text-center">
    <a class="btn btn-primary" asp-controller="Receitas" asp-action="Create">Cadastrar Remédios</a>
</div>
<br />
<div class="text-center">
    <a class="btn btn-primary" asp-controller="Receitas" asp-action="Index">Dias</a>
</div>
